{
"githubtoken":"",
"test": false,
"ratelimiting": false,
"contents": false,
"onlyaffiliated": false,
"institutionname":"UT Austin",
"institutionnamepermutations":["Texas Advanced Computing Center", "Cockrell School", "McCombs School", "Moody College", "Jackson School", "LBJ School", "Dell Medical", "McDonald Observatory", "Oden Institute", "University of Texas Institute for Geophysics", "LLILAS Benson", "TACC", "UT Austin", "The University of Texas at Austin", "University of Texas at Austin", "University of Texas @ Austin", "University of Texas, Austin", "UT-Austin", "The University of Texas Austin", "University of Texas Austin", "UT, Austin", "The University of Texas - Austin", "University of Texas-Austin", "University of Texas in Austin", "University of Texas of Austin", "University of Texas, in Austin", "University of Austin at Texas", "University of Texas as Austin", "UT"],
"institutioncity":"Austin",
"institutionemaildomain":"utexas.edu",
"githubaccountdetailscsvpath":"outputs/github-account-list-institutionnameplaceholder-dateplaceholder-detaillevelplaceholder-all.csv",
"githubaccountdetailsfilteredcsvpath":"outputs/github-account-list-institutionnameplaceholder-dateplaceholder-detaillevelplaceholder-filtered.csv",
"githubrepodetailscsvpath":"outputs/github-repo-list-institutionnameplaceholder-dateplaceholder-lastupdatethresholdplaceholder.csv",
"githubrepodetailsfilteredcsvpath":"outputs/github-repo-list-institutionnameplaceholder-dateplaceholder-lastupdatethresholdplaceholder-filtered.csv",
"resultsperpage":50,
"pagelimit":20,
"minimumfollowers":0,
"minimumrepos":1,
"detaillevel":"fulldetail",
"githubrepolastupdatethresholdinmonths":24,
"plotformat":"png"
}
