{
"githubtoken":"",
"test": false,
"ratelimiting": false,
"contents": false,
"onlyaffiliated": false,
"institutionname":"",
"institutionnamepermutations":[],
"institutioncity":"",
"institutionemaildomain":"",
"githubaccountdetailscsvpath":"outputs/github-account-list-institutionnameplaceholder-dateplaceholder-detaillevelplaceholder-all.csv",
"githubaccountdetailsfilteredcsvpath":"outputs/github-account-list-institutionnameplaceholder-dateplaceholder-detaillevelplaceholder-filtered.csv",
"githubrepodetailscsvpath":"outputs/github-repo-list-institutionnameplaceholder-dateplaceholder-lastupdatethresholdplaceholder.csv",
"githubrepodetailsfilteredcsvpath":"outputs/github-repo-list-institutionnameplaceholder-dateplaceholder-lastupdatethresholdplaceholder-filtered.csv",
"resultsperpage":50,
"pagelimit":20,
"minimumfollowers":0,
"minimumrepos":1,
"detaillevel":"fulldetail",
"githubrepolastupdatethresholdinmonths":24,
"plotformat":"png",
}
