{
"githubtoken":"",
"zenodoToken":""
"institutionname":"UT Austin",
"institutionnamepermutations":["Texas Advanced Computing Center", "TACC", "Cockrell School", "McCombs School", "Moody College", "Jackson School", "LBJ School", "Dell Medical", "McDonald Observatory", "Oden Institute", "University of Texas Institute for Geophysics", "LLILAS Benson", "UT Austin", "The University of Texas at Austin", "University of Texas at Austin", "University of Texas, Austin", "UT-Austin", "UT, Austin", "University of Texas-Austin", "UT"],
"institutioncity":"Austin",
"institutionemaildomain":"utexas.edu",
"githubaccountdetailscsvpath":"outputs/github-account-list-institutionnameplaceholder-dateplaceholder-detaillevelplaceholder.csv",
"githubrepodetailscsvpath":"outputs/github-repo-list-institutionnameplaceholder-dateplaceholder-lastupdatethresholdplaceholder.csv",
"resultsperpage":50,
"pagelimit":20,
"minimumfollowers":0,
"minimumrepos":1,
"detaillevel":"fulldetail",
"githubrepolastupdatethresholdinmonths":84,
"githubaccountdatacsvpathforvisualization":"outputs/2024-11-07/github-account-list-ut-austin-2024-10-02.csv",
"githubrepodatacsvpathforvisualization":"outputs/2024-11-07/github-repo-list-ut-austin-2024-10-02.csv"
}
